@import './global';

.makeStyles-accordion-161 {
  border-radius: 23px !important;
}
.makeStyles-active-255 {
  color: #532aed !important;
}
.makeStyles-page-1 {
  background-color: #fafbff !important;
}

.MuiGrid-item {
  background-color: none !important;
}
.makeStyles-container-113 {
  background: hsl(228deg 100% 99%) !important;
}

.makeStyles-cardInputContainer-122 {
  border: 2px solid #eeeeee;
  border-radius: 15px !important;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  font-weight: 600;
  font-size: 19px;
}